*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
    margin: 30px auto;
    width: 400px;
    height: 120px;
    border: 2px solid black;
    box-shadow: 1px 2px 2px black;
    align-items: center;
    padding: 20px
}
.row{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 20px;
}
.col{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col p{
    text-indent: 10px;
    font-size: 1.3em;
    font-weight: 400%;
}

.likebtn{
    display: flex;
    width: 45%;
    align-items: center;
    justify-content: space-between;
}
.likebtn li{
    list-style-type: none;
}
button{
    background-color: rgb(241, 201, 89);
    width: 50px;
    height: 30px;
    border: 2px solid black;
    box-shadow: 1px 1px black;
}
#text{
    margin-left: 10px;
}
