.container{
    background: rgb(230, 230, 230);
    width: 500px;
    height: 480px;
    margin: 0px auto;
    border-top: solid black;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding: 0px 10px;
}
.title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(85, 85, 85);
}
.top{
    background: lightskyblue;
    width: 500px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}
.middle{
    background: rgb(247, 177, 188);
    width: 500px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}
.bottom{
    background: rgb(245, 245, 245);
    width: 500px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.content{
    width: 100px;
    height: 100px; 
    background: white;
}
/* .content img.yogicat{
    height: 200px;
}  */
#text{
    color: lightslategray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
#bluetext{
    color: lightskyblue;
    text-decoration: underline;
}