.container{
    background: rgb(230, 230, 230);
    width: 1000px;
    height: 900px;
    margin: 0px auto;
    border-top: solid black;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
.title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(85, 85, 85);
}
.top{
    background: lightskyblue;
    width: 900px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}
.middle{
    background: rgb(247, 177, 188);
    width: 900px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px;
}
.bottom{
    background:white;
    width: 900px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}
/* .content{
    width: 100px;
    height: 100px; 
    background: white;
} */
.content img.images{
    height: 200px;
} 
#text{
    color: lightslategray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
#bluetext{
    color: lightskyblue;
    text-decoration: underline;
}